# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
yash/
env/
.venv/

# MLflow
mlruns/
mlartifacts/

# BentoML local store
bentoml/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Model files
*.pkl
*.joblib

# Logs
*.log